div {
    min-height: 100px;
    width: 100%;
}
.parent {
    border: 1px solid black;
    overflow-y: scroll;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
}

.child {
    border: 1px solid red;
}